.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

.myModalContent {
    background: #FCFF4D;
    min-width: 300px;
    border-radius: 15px;
    padding: 25px;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
