*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

#root {
    display: flex;
}

h1 {
    font-size: 35px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

.container {
    max-width: 700px;
}

.post {
    border: 2px solid;
    margin: 3px 0;
}

.post__body {
    font-size: 18px;
}

.trigger {
    display: flex;
    justify-content: center;
    font-size: 80px;
}

/* ================================================== POSTS ANIMATION STYLES */

.post-enter {
    opacity: 0;
}

.post-enter-active {
    opacity: 1;
    transition: opacity 700ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(500px);
    transition: all 500ms ease-in;
}
